$-clr-white: hsl(0, 0%, 100%);
$-clr-black: hsl(0, 0%, 0%);
$-clr-orange-200: hsl(8, 62%, 75%);
$-clr-orange-400: hsl(8, 62%, 55%);
$-clr-orange-800: hsl(8, 62%, 35%);
$-clr-brown-100: hsl(30, 24%, 92%);
$-clr-brown-200: hsl(32, 25%, 88%);
$-clr-brown-300: hsl(33, 23%, 69%);
$-clr-brown-400: hsl(22, 31%, 44%);
$-clr-brown-700: hsl(20, 23%, 23%);
$-clr-brown-800: hsl(16, 22%, 10%);

$colors: (
  "neutral": (
    "100": $-clr-white,
    "900": $-clr-black,
  ),
  "accent": (
    "200": $-clr-orange-200,
    "400": $-clr-orange-400,
    "800": $-clr-orange-800,
  ),
  "primary": (
    "100": $-clr-brown-100,
    "200": $-clr-brown-200,
    "300": $-clr-brown-300,
    "400": $-clr-brown-400,
    "700": $-clr-brown-700,
    "800": $-clr-brown-800,
  ),
);

$color-neutral-100: var(--neutral-100);
$color-neutral-900: var(--neutral-900);
$color-primary-100: var(--primary-100);
$color-primary-200: var(--primary-200);
$color-primary-300: var(--primary-300);
$color-primary-400: var(--primary-400);
$color-primary-700: var(--primary-700);
$color-primary-800: var(--primary-800);
$color-accent-200: var(--accent-200);
$color-accent-400: var(--accent-400);
$color-accent-800: var(--accent-800);
