// typography
// font families
$ff-accent: 'Baskerville', serif;
$ff-base:  system-ui, sans-serif;


//font sizes
$font-sizes: (
    300: 1rem,
    400: 1.125rem,
    500: 1.313rem,
    600: clamp(1.4rem, 0.5rem + 3vw, 1.6875rem),
    800: clamp(2.5rem, 0.5rem + 7vw, 3.75rem),
    900: clamp(2.5rem, 0.5rem + 10vw, 5rem),
);

// font weights
$fw-400: 400;
$fw-700: 700;

