@use '../abstracts/' as *;

.container {
    --padding: #{$container-inline-padding} * 2;
    --max-width: #{$container-max-width};

    width: min(100% - var(--padding), var(--max-width)); // min uses smaller of the 2 options
    margin-inline: auto; // defines both inline start and end margins
}

.container[data-size="wide"] {
    --max-width: #{$container-max-width-wide};
}

.container[data-size="narrow"] {
    --max-width: #{$container-max-width-narrow};
}
